version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:3333/api
      - API_URL=http://api:3333/api
    container_name: digital_wallet_app
    ports:
      - "3000:3000"
    networks:
      - digital-wallet-network
